<!-- /home/hpcadmin/ondemand/config/views/widgets/_welcome.html.erb -->
<div class='alert alert-info text-center'>
    <p class='h2'>Thank you for learning about Open OnDemand with the SSCS Server Team!</p>
    <br>
    <p class='small text-muted'>If you have any questions, please contact the SSCS Server Team at <a href='mailto:ssc-server-support@lists.uchicago.edu'>ssc-server-support@lists.uchicago.edu</a>.</p>
</div>